
vendor/
.DS_Store
vendor/twilio/sdk/src/Twilio/VersionInfo.php
vendor/twilio/sdk/src/Twilio/Rest/Verify/V2/Service/Entity/ChallengeOptions.php
vendor/twilio/sdk/src/Twilio/Rest/Verify/V2/Service/Entity/Challenge/NotificationOptions.php
vendor/symfony/translation/TranslatorBagInterface.php
vendor/symfony/translation/Translator.php
vendor/symfony/translation/Resources/data/parents.json
vendor/symfony/translation/README.md
vendor/symfony/translation/PseudoLocalizationTranslator.php
vendor/symfony/translation/LoggingTranslator.php
vendor/symfony/translation/Loader/XliffFileLoader.php
vendor/symfony/translation/Extractor/ExtractorInterface.php
vendor/symfony/translation/DependencyInjection/TranslatorPathsPass.php
vendor/symfony/translation/DependencyInjection/TranslatorPass.php
vendor/symfony/translation/DependencyInjection/TranslationExtractorPass.php
vendor/symfony/translation/DependencyInjection/TranslationDumperPass.php
vendor/symfony/translation/DataCollectorTranslator.php
vendor/symfony/translation/composer.json
vendor/symfony/translation/Command/XliffLintCommand.php
vendor/symfony/translation/CHANGELOG.md
vendor/symfony/translation/Catalogue/AbstractOperation.php
vendor/symfony/options-resolver/README.md
vendor/symfony/options-resolver/OptionsResolver.php
vendor/symfony/options-resolver/CHANGELOG.md
vendor/php-http/discovery/src/ClassDiscovery.php
vendor/php-http/discovery/composer.json
vendor/php-http/discovery/CHANGELOG.md
vendor/pear/net_url2/tests/.DS_Store
vendor/pear/net_url2/.DS_Store
vendor/pear/http_request2/.DS_Store
vendor/pagarme/pagarme-php/tests/unit/.DS_Store
vendor/pagarme/pagarme-php/tests/.DS_Store
vendor/pagarme/pagarme-php/src/.DS_Store
vendor/pagarme/pagarme-php/.DS_Store
vendor/nette/application/src/compatibility-intf.php
vendor/nette/application/src/Bridges/ApplicationLatte/UIMacros.php
vendor/nette/application/src/Bridges/ApplicationDI/LatteExtension.php
vendor/nette/application/src/Application/UI/Presenter.php
vendor/nette/application/src/Application/UI/Component.php
vendor/nesbot/carbon/src/Carbon/Traits/Units.php
vendor/nesbot/carbon/src/Carbon/Traits/Serialization.php
vendor/nesbot/carbon/src/Carbon/Traits/Modifiers.php
vendor/nesbot/carbon/src/Carbon/Traits/Difference.php
vendor/nesbot/carbon/src/Carbon/Traits/Date.php
vendor/nesbot/carbon/src/Carbon/Traits/Creator.php
vendor/nesbot/carbon/src/Carbon/Traits/Converter.php
vendor/nesbot/carbon/src/Carbon/Lang/be.php
vendor/nesbot/carbon/src/Carbon/FactoryImmutable.php
vendor/nesbot/carbon/src/Carbon/Factory.php
vendor/nesbot/carbon/src/Carbon/Doctrine/DateTimeType.php
vendor/nesbot/carbon/src/Carbon/Doctrine/DateTimeImmutableType.php
vendor/nesbot/carbon/src/Carbon/Doctrine/CarbonTypeConverter.php
vendor/nesbot/carbon/src/Carbon/CarbonPeriod.php
vendor/nesbot/carbon/src/Carbon/CarbonInterval.php
vendor/nesbot/carbon/src/Carbon/CarbonInterface.php
vendor/nesbot/carbon/readme.md
vendor/jbzoo/data/src/Data.php
vendor/jbzoo/data/.DS_Store
vendor/google/apiclient/src/Task/Composer.php
vendor/google/apiclient/src/aliases.php
vendor/google/apiclient/README.md
vendor/google/apiclient/composer.json
vendor/google/apiclient-services/synth.metadata
vendor/google/apiclient-services/src/Google/Service/YouTube/TestItem.php
vendor/google/apiclient-services/src/Google/Service/SQLAdmin/InsightsConfig.php
vendor/google/apiclient-services/src/Google/Service/Spanner/Resource/ProjectsInstancesDatabases.php
vendor/google/apiclient-services/src/Google/Service/Spanner.php
vendor/google/apiclient-services/src/Google/Service/ShoppingContent/Resource/Regions.php
vendor/google/apiclient-services/src/Google/Service/ShoppingContent/Resource/Products.php
vendor/google/apiclient-services/src/Google/Service/ShoppingContent/Resource/Accounts.php
vendor/google/apiclient-services/src/Google/Service/ShoppingContent/ProductsCustomBatchRequestEntry.php
vendor/google/apiclient-services/src/Google/Service/ShoppingContent/Product.php
vendor/google/apiclient-services/src/Google/Service/ShoppingContent/OrderreturnsLineItem.php
vendor/google/apiclient-services/src/Google/Service/ShoppingContent.php
vendor/google/apiclient-services/src/Google/Service/ServiceUsage/BackendRule.php
vendor/google/apiclient-services/src/Google/Service/ServiceNetworking/BackendRule.php
vendor/google/apiclient-services/src/Google/Service/ServiceManagement/BackendRule.php
vendor/google/apiclient-services/src/Google/Service/ServiceControl/ResourceInfo.php
vendor/google/apiclient-services/src/Google/Service/ServiceConsumerManagement/BackendRule.php
vendor/google/apiclient-services/src/Google/Service/SASPortalTesting/SasPortalSetPolicyRequest.php
vendor/google/apiclient-services/src/Google/Service/SASPortalTesting/SasPortalDeployment.php
vendor/google/apiclient-services/src/Google/Service/Sasportal/SasPortalSetPolicyRequest.php
vendor/google/apiclient-services/src/Google/Service/Sasportal/SasPortalDeployment.php
vendor/google/apiclient-services/src/Google/Service/RemoteBuildExecution/GoogleDevtoolsRemotebuildbotResourceUsage.php
vendor/google/apiclient-services/src/Google/Service/Recommender/Resource/ProjectsLocationsRecommendersRecommendations.php
vendor/google/apiclient-services/src/Google/Service/Recommender/Resource/ProjectsLocationsInsightTypesInsights.php
vendor/google/apiclient-services/src/Google/Service/Recommender/Resource/OrganizationsLocationsRecommendersRecommendations.php
vendor/google/apiclient-services/src/Google/Service/Recommender/Resource/OrganizationsLocationsInsightTypesInsights.php
vendor/google/apiclient-services/src/Google/Service/Recommender/Resource/FoldersLocationsRecommendersRecommendations.php
vendor/google/apiclient-services/src/Google/Service/Recommender/Resource/FoldersLocationsInsightTypesInsights.php
vendor/google/apiclient-services/src/Google/Service/Recommender/Resource/BillingAccountsLocationsRecommendersRecommendations.php
vendor/google/apiclient-services/src/Google/Service/Recommender/Resource/BillingAccountsLocationsInsightTypesInsights.php
vendor/google/apiclient-services/src/Google/Service/RecaptchaEnterprise/Resource/ProjectsKeys.php
vendor/google/apiclient-services/src/Google/Service/RealTimeBidding/NativeContent.php
vendor/google/apiclient-services/src/Google/Service/PeopleService/Resource/People.php
vendor/google/apiclient-services/src/Google/Service/PeopleService/Resource/ContactGroups.php
vendor/google/apiclient-services/src/Google/Service/PagespeedInsights/RendererFormattedStrings.php
vendor/google/apiclient-services/src/Google/Service/PagespeedInsights/LighthouseAuditResultV5.php
vendor/google/apiclient-services/src/Google/Service/PagespeedInsights/AuditRefs.php
vendor/google/apiclient-services/src/Google/Service/OnDemandScanning/Occurrence.php
vendor/google/apiclient-services/src/Google/Service/Logging/Resource/V2.php
vendor/google/apiclient-services/src/Google/Service/Logging/Resource/Organizations.php
vendor/google/apiclient-services/src/Google/Service/GoogleAnalyticsAdmin/Resource/Properties.php
vendor/google/apiclient-services/src/Google/Service/GoogleAnalyticsAdmin/GoogleAnalyticsAdminV1alphaChangeHistoryChangeChangeHistoryResource.php
vendor/google/apiclient-services/src/Google/Service/GoogleAnalyticsAdmin.php
vendor/google/apiclient-services/src/Google/Service/GKEHub/Authority.php
vendor/google/apiclient-services/src/Google/Service/GKEHub.php
vendor/google/apiclient-services/src/Google/Service/Firebasestorage/Bucket.php
vendor/google/apiclient-services/src/Google/Service/FirebaseManagement/AddFirebaseRequest.php
vendor/google/apiclient-services/src/Google/Service/Document/Resource/Uiv1beta3ProjectsLocationsOperations.php
vendor/google/apiclient-services/src/Google/Service/Document/Resource/ProjectsLocationsOperations.php
vendor/google/apiclient-services/src/Google/Service/Document/Resource/Operations.php
vendor/google/apiclient-services/src/Google/Service/Document/GoogleCloudDocumentaiV1ReviewDocumentRequest.php
vendor/google/apiclient-services/src/Google/Service/Document.php
vendor/google/apiclient-services/src/Google/Service/DLP/Resource/ProjectsLocationsJobTriggers.php
vendor/google/apiclient-services/src/Google/Service/DLP/Resource/ProjectsJobTriggers.php
vendor/google/apiclient-services/src/Google/Service/DLP/Resource/OrganizationsLocationsJobTriggers.php
vendor/google/apiclient-services/src/Google/Service/DLP.php
vendor/google/apiclient-services/src/Google/Service/DisplayVideo/TargetingOption.php
vendor/google/apiclient-services/src/Google/Service/DisplayVideo/Campaign.php
vendor/google/apiclient-services/src/Google/Service/DisplayVideo/AssignedTargetingOption.php
vendor/google/apiclient-services/src/Google/Service/DisplayVideo/Advertiser.php
vendor/google/apiclient-services/src/Google/Service/DisplayVideo.php
vendor/google/apiclient-services/src/Google/Service/Dialogflow/Resource/ProjectsLocationsAgentsEnvironments.php
vendor/google/apiclient-services/src/Google/Service/Dialogflow/GoogleCloudDialogflowV2QueryResult.php
vendor/google/apiclient-services/src/Google/Service/Dialogflow/GoogleCloudDialogflowV2beta1QueryResult.php
vendor/google/apiclient-services/src/Google/Service/Dialogflow/GoogleCloudDialogflowCxV3ConversationTurnUserInput.php
vendor/google/apiclient-services/src/Google/Service/Dialogflow/GoogleCloudDialogflowCxV3beta1ConversationTurnUserInput.php
vendor/google/apiclient-services/src/Google/Service/Dialogflow.php
vendor/google/apiclient-services/src/Google/Service/Dfareporting/VideoSettings.php
vendor/google/apiclient-services/src/Google/Service/Dfareporting/Placement.php
vendor/google/apiclient-services/src/Google/Service/Dfareporting/Campaign.php
vendor/google/apiclient-services/src/Google/Service/Dfareporting/Advertiser.php
vendor/google/apiclient-services/src/Google/Service/Dfareporting/AdBlockingConfiguration.php
vendor/google/apiclient-services/src/Google/Service/Dfareporting.php
vendor/google/apiclient-services/src/Google/Service/DataprocMetastore/Resource/ProjectsLocationsServicesBackups.php
vendor/google/apiclient-services/src/Google/Service/DataprocMetastore.php
vendor/google/apiclient-services/src/Google/Service/Dataproc/InstanceReference.php
vendor/google/apiclient-services/src/Google/Service/Dataflow/FlexTemplateRuntimeEnvironment.php
vendor/google/apiclient-services/src/Google/Service/Container/AutoprovisioningNodePoolDefaults.php
vendor/google/apiclient-services/src/Google/Service/Compute/Subnetwork.php
vendor/google/apiclient-services/src/Google/Service/Compute/SecurityPolicy.php
vendor/google/apiclient-services/src/Google/Service/Compute/RouterBgpPeer.php
vendor/google/apiclient-services/src/Google/Service/Compute/RouterBgp.php
vendor/google/apiclient-services/src/Google/Service/Compute/NetworkInterface.php
vendor/google/apiclient-services/src/Google/Service/Compute/AccessConfig.php
vendor/google/apiclient-services/src/Google/Service/CloudRedis/Resource/ProjectsLocationsInstances.php
vendor/google/apiclient-services/src/Google/Service/CloudRedis/Instance.php
vendor/google/apiclient-services/src/Google/Service/CloudRedis.php
vendor/google/apiclient-services/src/Google/Service/CloudLifeSciences/VirtualMachine.php
vendor/google/apiclient-services/src/Google/Service/CloudKMS/Resource/ProjectsLocationsKeyRingsCryptoKeys.php
vendor/google/apiclient-services/src/Google/Service/CloudAsset/Resource/V1.php
vendor/google/apiclient-services/src/Google/Service/CloudAsset/Resource/Assets.php
vendor/google/apiclient-services/src/Google/Service/CloudAsset.php
vendor/google/apiclient-services/src/Google/Service/CertificateAuthorityService/SubjectDescription.php
vendor/google/apiclient-services/src/Google/Service/CertificateAuthorityService/SubjectConfig.php
vendor/google/apiclient-services/src/Google/Service/CertificateAuthorityService/Subject.php
vendor/google/apiclient-services/src/Google/Service/CertificateAuthorityService/PublicKey.php
vendor/google/apiclient-services/src/Google/Service/CertificateAuthorityService/CertificateRevocationList.php
vendor/google/apiclient-services/src/Google/Service/CertificateAuthorityService/CertificateDescription.php
vendor/google/apiclient-services/src/Google/Service/CertificateAuthorityService/CertificateConfig.php
vendor/google/apiclient-services/src/Google/Service/CertificateAuthorityService/CertificateAuthority.php
vendor/google/apiclient-services/src/Google/Service/CertificateAuthorityService/Certificate.php
vendor/google/apiclient-services/src/Google/Service/CertificateAuthorityService/AccessUrls.php
vendor/google/apiclient-services/src/Google/Service/CertificateAuthorityService.php
vendor/google/apiclient-services/src/Google/Service/Bigquery/ViewDefinition.php
vendor/google/apiclient-services/src/Google/Service/Bigquery/QueryResponse.php
vendor/google/apiclient-services/src/Google/Service/Bigquery/JobStatistics2.php
vendor/google/apiclient-services/src/Google/Service/Bigquery/JobStatistics.php
vendor/google/apiclient-services/src/Google/Service/Bigquery/ExternalDataConfiguration.php
vendor/google/apiclient-services/src/Google/Service/Apigee/Resource/OrganizationsDevelopersAppsKeysCreate.php
vendor/google/apiclient-services/src/Google/Service/Apigee/Resource/OrganizationsDevelopersAppsKeysApiproducts.php
vendor/google/apiclient-services/src/Google/Service/Apigee/Resource/OrganizationsDevelopersAppsKeys.php
vendor/google/apiclient-services/src/Google/Service/Apigee/Resource/OrganizationsApiproducts.php
vendor/google/apiclient-services/src/Google/Service/AlertCenter/Resource/AlertsFeedback.php
vendor/google/apiclient-services/src/Google/Service/AlertCenter/Resource/Alerts.php
vendor/google/apiclient-services/src/Google/Service/AdExchangeBuyerII/Resource/AccountsFinalizedProposals.php
vendor/google/apiclient-services/src/Google/Service/AdExchangeBuyerII.php
vendor/google/apiclient-services/src/Google/Service/AdExchangeBuyer/PublisherProfileApiProto.php
vendor/firebase/php-jwt/src/SignatureInvalidException.php
vendor/firebase/php-jwt/src/JWT.php
vendor/firebase/php-jwt/src/JWK.php
vendor/firebase/php-jwt/src/ExpiredException.php
vendor/firebase/php-jwt/src/BeforeValidException.php
vendor/firebase/php-jwt/README.md
vendor/firebase/php-jwt/LICENSE
vendor/composer/installed.json
vendor/composer/ca-bundle/res/cacert.pem
vendor/composer/ca-bundle/phpstan.neon.dist
vendor/composer/autoload_static.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_files.php
vendor/coffeecode/router/exemple/controller/.DS_Store
vendor/coffeecode/router/exemple/.DS_Store
vendor/coffeecode/router/.DS_Store
vendor/coffeecode/datalayer/example/.DS_Store
vendor/coffeecode/datalayer/.DS_Store
